<!-- <p>about-us works!</p> -->
<div class="about-section">
    <h1>About Us</h1>
    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
    <p>MyRecipeBook is a recipe and cookbook destination where for the first time in India, you can create your own fully personalised digital cookbooks using recipes from top food brands and chefs, combined with your own ideas.</p>
  </div>
  
  <!-- <h2 style="text-align:center">Our Team</h2> -->
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="assets\images\girl.jpg" alt="Chandler" style="width:100%">
        <div class="container">
          <h2>Umang Joshi</h2>
          <p class="title">CEO & Founder</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <!-- <p>chandler.bing@example.com</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets\images\call.png" alt="Rachel" style="width:100%" height="50%">
        <div class="container">
          <h2>Call us at</h2>
          <p class="title">7564839756</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <!-- <p>greenerachel@example.com</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets\images\mail.png" alt="Ross" style="width:100%">
        <div class="container">
          <h2>Mail to</h2>
          <p class="title">umangj1999@gmail.com</p>
          <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p> -->
          <!-- <p>rossgeller@example.com</p> -->
          <!-- <p><button class="button">Contact</button></p> -->
        </div>
      </div>
    </div>
  </div>