<!-- <img src="assets\images\c.jpg" style="width:100% "> -->
<!-- <div
  class="bg-image"
  style="
    background-image: url('https://media.istockphoto.com/photos/fresh-veggies-and-fruits-food-frame-on-white-background-with-copy-picture-id820334914?k=6&m=820334914&s=170667a&w=0&h=2sBkbPmBJJWJ3jb6ps89G6FYMY8vtG4RZqvGIPvOlyU=');
    height: 100vh;
  "
> -->
    <div class="d-flex justify-content-center align-items-center h-0">
		<div class="head">
      		<h1 class="text-black mb-0">~Your Personalized Recipe-Book~</h1>
			  <div class="cont">
  
				<div class="cont1">
				  <img src='assets/images/p2.jpg' >
				 </div>
			   
			  
			  
			  </div>
			  
			  <div class="product1">
				<!-- <h3></h3> -->
			   <div class="product">
				
				<div class="prod1">
				  <div class="img1">
					<img src="assets/images/p1.jpg" alt="">
				  </div>
				   
				  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam magni dolorum illum aut deserunt laudantium, repudiandae quibusdam accusamus ipsum praesentium? Nulla exercitationem voluptas dignissimos amet impedit delectus doloribus in autem.</p> -->
				</div>
			  
				  <div class="prod2">
					<div class="img1">
					  <img src="assets/images/p3.jpg" alt="">
					</div>
				  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam magni dolorum illum aut deserunt laudantium, repudiandae quibusdam accusamus ipsum praesentium? Nulla exercitationem voluptas dignissimos amet impedit delectus doloribus in autem.</p> -->
				</div>
			  
				<div class="prod3">
				  <div class="img1">
					<img src="assets/images/p4.jpg" alt="">
				  </div>
				<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam magni dolorum illum aut deserunt laudantium, repudiandae quibusdam accusamus ipsum praesentium? Nulla exercitationem voluptas dignissimos amet impedit delectus doloribus in autem.</p> -->
				</div>
			  
				<div class="prod4">
				  <div class="img1">
					<img src="assets/images/p5.jpg" alt="">
				  </div>
				  <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam magni dolorum illum aut deserunt laudantium, repudiandae quibusdam accusamus ipsum praesentium? Nulla exercitationem voluptas dignissimos amet impedit delectus doloribus in autem.</p> -->
				</div>
			  </div>
			  </div>
	  	<div>
	 		 <!-- <p>"A recipe is a story that ends with a good meal!"</p> -->

	  <!-- <div class="card"> -->
        <!-- <img src="assets\images\f.png" alt="Chandler"> -->
    </div>
	</div>
  </div>
<!-- </div> -->

	<!-- <div class="f1">
	<img src="https://codesign.com.bd/conversations/content/images/2020/03/Sprint-logo-design-Codesign-agency.png" alt="">
	<h5> Image 1</h5>
	</div>
	<div class="f2">
		<img src="https://codesign.com.bd/conversations/content/images/2020/03/Sprint-logo-design-Codesign-agency.png" alt="">
		<h5>Image 2</h5>
	</div>
</div>

<div class="flex1">
	<div class="img1">
	<img src="https://codesign.com.bd/conversations/content/images/2020/03/Sprint-logo-design-Codesign-agency.png"  alt="">
	<h5> Image 1</h5>
	</div>
	<div class="img2">
	<img src="https://codesign.com.bd/conversations/content/images/2020/03/Sprint-logo-design-Codesign-agency.png"  alt="">
	<h5> Image 2</h5>
	</div>
	<div class="img3">
	<img src="https://codesign.com.bd/conversations/content/images/2020/03/Sprint-logo-design-Codesign-agency.png"  alt="">
	<h5> Image 3</h5>
	</div>
	<div class="img4">
		<img src="https://codesign.com.bd/conversations/content/images/2020/03/Sprint-logo-design-Codesign-agency.png"  alt="">
		<h5>Image 4</h5>
	</div> -->
